@import "normalize";
@import "fonts";
@import "variables";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;;
    font-size: 10px;
    color: $colorText;
}

body {
    font-size: 1.4rem;
}
.container{
    width: 320px;
    padding: 0 15px;
    margin: auto;    
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}


//blocks
@import "./blocks/header";


