@import "normalize";
@import "fonts";
@import "variables";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;;
    font-size: 10px;
    color: $colorText;
}

body {
    font-size: 1.4rem;
    min-width: 320px;
}
.container{
    min-width: 320px;
    width: 320px;
    padding: 0 15px;
    margin: auto;
    @media (min-width: 576px) {
        width: 576px;
        padding: 0 35px;
    }
    @media (min-width: 768px){
        width: 768px;
        padding: 0 50px;
    }
    @media (min-width: 1280px){
        width: 1280px;
        padding: 0 70px;
    } 
}
a{
    text-decoration: none;
    color: $colorLinks;
}
li {
    list-style: none;       
}




//blocks
@import "./blocks/btn-show-more";

//blocksSection
@import "./blocks/header";
@import "./blocks/banner";
@import "./blocks/services";
@import "./blocks/gallery";
@import "./blocks/about";
@import "./blocks/free-time";


