//color


$colorText: #37373F;
$colorTextDisable:#B3B3B3;
$colorLinks: hsl(220, 80%, 62%);
$colorLinksHover: hsl(220, 80%, 52%);
$colorLinksActive: hsl(220, 80%, 72%);

$colorAccent: hsl(36, 98%, 51%);
$colorAccentDark: hsl(36, 98%, 41%);

$colorGrey: hsl(0, 0%, 78%);

