.banner {
    background-color: bisque;
    color: white;
    height: 655px;
    background: url(./../images/banner/helimain-mob.jpg) 62% center no-repeat;
    padding-top: 142px;

    @media (min-width: 576px) {
        padding-top: 151px;
    }
    @media (min-width: 577px) {
        background: url(../images/banner/helimain.jpg) 55% 50% / auto 100% no-repeat;
    }

    @media (min-width: 768px) {
        background: url(../images/banner/helimain.jpg) 55% 50% / auto 100% no-repeat;
        height: 839px;
        padding-top: 286px;
    }

    @media (min-width: 1440px) {
        background: url(../images/banner/helimain.webp) 49% 100% / auto 100% no-repeat;

    }

    @media (min-width: 1920px) {
        background: url(../images/banner/helimain.jpg) 100% 50% no-repeat;

    }

    br {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__text {
        font-size: 3.2rem;
        line-height: 3.9rem;
        width: 264px;
        margin-bottom: 34px;

        @media (min-width: 576px) {
            margin-bottom: 35px;
        }

        @media (min-width: 768px) {
            width: 596px;
            font-size: 4rem;
            line-height: 4.9rem;
            margin-bottom: 20px;
        }

        @media (min-width: 1280px) {
            width: 887px;
        }

        &_accent {
            color: $colorAccent;
        }
    }

    &__praice-tag {
        font-size: 1.8rem;
        line-height: 0.7rem;
        display: flex;
        width: 200px;
        height: 86px;
        padding: 16px 15px 23px 17px;
        background-color: $colorAccent;
        background: url(./../images/banner/tag.svg) no-repeat;
        background-size: 100%;
        margin-bottom: 14px;

        @media (min-width:768px) {
            width: 224px;
            height: 96px;
            font-size: 2rem;
            line-height: 1.4rem;
            padding: 16px 29px 28px 23px;
            margin-bottom: 12px;
        }
    }

    &__price {
        font-size: 3rem;
        line-height: 5.5rem;
        font-weight: 800;

        @media (min-width:768px) {
            font-size: 3.5rem;
            line-height: 5.1rem;
        }
    }

    &__img-proc {
        width: 47px;
        height: 47px;

        @media (min-width:768px) {
            width: 52px;
            height: 52px;
        }
    }

    &__btn {
        width: 275px;
        height: 68px;
        border: 3px solid #FFFFFF;
        border-radius: 7px;
        transition: .5s ease;
        &:hover{
            border: 3px solid $colorAccent;
            color: $colorAccent;
            background: rgba(255, 255, 255, 0.7);
        }

        @media (min-width:768px) {
            width: 304px;
            height: 68px;
            font-size: 1.8rem;
        }
    }

    &__btn-link {
        font-weight: 900;
        letter-spacing: 0.1rem;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 23px 0;

        @media (min-width: 768px) {
            letter-spacing: 0;
        }
    }
}