.free-time {
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2.6rem;
        line-height: 32px;
        text-align: center;
        margin-bottom: 41px;

    }

    &__table {
        border: 1px solid #C7C7C7;
        font-size: 1.8rem;
        line-height: 2.633rem;
    }

    &__date {
        font-weight: 500;
        padding: 16px 0 16px;
        text-align: center;
    }

    &__window {
        border-top: 0.5px solid #C7C7C7;
        padding: 28px 20px;


        & div {
            margin-bottom: 10px;
        }
    }

    &__price {
        font-weight: 600;
        line-height: 2.194rem;
    }

    &__btn {
        margin-top: 9px;
        color: $colorAccent;
        background-color: #fff;
        border: 2px solid $colorAccent;
        border-radius: 3px;
        padding: 15px 30px;
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 500;
        transition: .2s ease;

        &:hover {
            background-color: $colorAccent;
            color: #fff;
        }

        &:active {
            border-color: $colorAccentDark;
            background-color: $colorAccentDark;
            color: #fff;
        }
    }

    &__reviews {
        padding: 31px 0 42px 69px;
        font-size: 1.3rem;
        line-height: 1.9rem;

        &::after {
            left: 68px;
            bottom: 5px;
        }

        &::before {
            left: 18px;
            top: 31px;
        }
    }
}