.free-time {
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2.6rem;
        line-height: 3.2rem;
        text-align: center;
        margin-bottom: 44px;
        @include for-tablet-landscape-up {
            line-height: 3.7rem;
        }
    }

    &__table {
        border: 1px solid #C7C7C7;
        font-size: 1.8rem;
        line-height: 2.633rem;
    }

    &__date {
        position: relative;
        font-weight: 500;
        padding: 16px 0;
        text-align: center;
        @include for-tablet-landscape-up{
            text-align: left;
            padding: 20px;
        }
    }
    &__btn-cal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: 35px;
        height: 35px;
        background-color: rgb(255, 255, 255);
        background-image: url(./../images/free-time/Calendar.svg);
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: 50% 50%;
        border: 1px solid #C4C4C4;
        border-radius: 3px;
    }
    &__window {
        border-top: 0.5px solid #C7C7C7;
        padding: 28px 20px;


        & div {
            margin-bottom: 10px;
        }
    }

    &__price {
        font-weight: 600;
        line-height: 2.194rem;
    }

    &__btn {
        margin-top: 9px;
        color: $colorAccent;
        background-color: #fff;
        border: 2px solid $colorAccent;
        border-radius: 3px;
        padding: 15px 30px;
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 500;
        transition: .2s ease;

        &:hover {
            background-color: $colorAccent;
            color: #fff;
        }

        &:active {
            border-color: $colorAccentDark;
            background-color: $colorAccentDark;
            color: #fff;
        }
    }

    &__reviews {
        padding: 31px 0 42px 69px;
        font-size: 1.3rem;
        line-height: 1.9rem;

        &::after {
            left: 68px;
            bottom: 5px;
        }

        &::before {
            left: 18px;
            top: 31px;
        }
    }
}