.gallery {
    position: relative;
    height: 334px;
    overflow: hidden;
    
    @media (min-width: 576px) {
        height: 383px;
    }
    @media (min-width: 768px) {
        height: auto;
        padding-bottom: 94px;
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2.6rem;
        line-height: 32px;
        text-align: center;
        width: 170px;
        margin: 0 auto 35px;

        @media (min-width: 768px) {
            font-size: 2rem;
            margin: 0 0 30px;
            width: 100%;
            text-align: left;
        }
        @media (min-width: 1280px) {
            font-weight: 500;
            font-size: 2.8rem;
            margin-bottom: 40px;
        }
        @media (min-width: 1440px) {
            font-size: 2rem;
            margin-bottom: 33px;
        }
    }

    &__slider {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 185px;
        transition: 0.2s all;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__slide {
        height: 185px;
        width: 277px;
    }

    &__slider-control {
        position: absolute;
        bottom: 10%;
        z-index: 10;
        width: 100%;
        height: 70%;

        button {
            height: 100%;
            width: 49%;
            opacity: 0.0;
        }

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        @media (max-width: 767px) {
            display: none;
        }
        @media (min-width: 1280px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &__item-grid {
        width: 277px;
        height: 185px;
        
        &_hidden{
            display: none;
        }
        &:nth-child(2n+1) {
            justify-self: end;
        }
    }

    &__btn-show {
        position: absolute;       
        height: 17px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 32px;
        font-size: 1.7rem;
        span{
            padding: 0 5px;
        }
        @media (max-width: 767px) {
            display: none;
        }       
    }
    &__arr{
        transition: 0.2s all;
    }
    &__hr{
        position: relative;
        top: 90px;
        background-color: #C7C7C7;
        width: 100%;
        height: 1px;
    }
}