.gallery {
    position: relative;
    height: 377px;
    overflow: hidden;
    &__title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
    }
    &__slider{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 185px;
        transition: 0.2s all;    
        border: 1px solid blue;   
    }
    &__slide{
        height: 185px;
        width: 277px;
        border: 1px dotted red;
    }
    &__slider-control{
        position: absolute;
        bottom: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        button{
            height: 100%;
            width: 49%;
            opacity: 0.0;
        }
    }
}

