.map {
    margin-bottom: 40px;
    @include for-desktop-up{
        margin-bottom: 120px;
    }

    &__yan {
        position: relative;
        height: 423px;
        margin-bottom: 40px;

        @include for-tablet-portrait-up {
            height: 509px;
        }
    }

    &__check {
        display: none; 
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        max-height: 100%;
        background-color: #fff;
        padding: 51px 34px 54px 30px;
        font-size: 1.8rem;
        line-height: 2.1rem;
        border: 1px solid $colorGrey;

        @include for-big-desktop-up {
            display: block;
        }
    }

    &__item {
        margin-bottom: 35px;
        padding-left: 79px;
        min-height: 61px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:nth-child(1) {
            background: url(./../images/map/1.svg) no-repeat;
        }

        &:nth-child(2) {
            background: url(./../images/map/2.svg) no-repeat;
        }

        &:nth-child(3) {
            background: url(./../images/map/3.svg) no-repeat;
        }

    }

    &__photographer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 79px;
        width: 356px;
        min-height: 61px;
        background: url(./../images/map/photographer.png) no-repeat;
    }

    &__first-text {
        font-weight: 500;
        margin-bottom: 12px;
    }

    &__second-text {
        font-size: 1.6rem;
    }

    &__link {
        font-size: 1.4rem;
    }

    &__check-slide {
        margin-top: 52px;
        width: 274px;
        margin: auto;
        border: 1px solid $colorGrey;
        padding: 52px 30px 20px;
        @include for-tablet-landscape-up {
            width: 400px;
            padding: 20px 95px;
        }
        @include for-big-desktop-up{
            display: none;
        }
    }
    
    &__slide-photographer{
        background: url(./../images/map/photographer.png) no-repeat;
        padding-left: 78px; 
        min-height: 67px;
    }

    &__slide-window{
        position: relative;
        margin-bottom: 40px;
        min-height: 164px;

    }

    &__slide-item{
        position: absolute;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        padding-top: 86px;
        background-repeat: no-repeat;
        background-position: 50% 0;
        transition: all 0.4s;
        &:nth-child(1){
            background-image: url(./../images/map/1.svg);
        }
        &:nth-child(2){
            background-image: url(./../images/map/2.svg);
        }
        &:nth-child(3){
            background-image: url(./../images/map/3.svg);
        }
        &_active{
            opacity: 1;
        }
    }

    &__dots-slide{
        position: absolute;
        width: 52px;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $colorTextDisable;
        transition: all 0.4s;
        &_active{
            background-color: $colorAccent;
            border: 1px solid $colorTextDisable;
        }
    }

    &__btn{
        position: absolute;
        width: 10px;
        height: 19px;
        top: 14%;
        background: url(./../images/map/Arrow.svg) no-repeat;
        border: none;
        &:hover{
            filter: drop-shadow(0 0 1px $colorText);
        }
        &:active{
            filter: drop-shadow(0 0 0.1rem $colorTextDisable);
        }
        &_prev{
            
        }
        &_next{
            right: 0;
            transform: rotate(180deg);
        }
    }

    &__slide-first-text{
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__slide-photographer{
        p:first-child{
            margin-bottom: 5px;
        }
        p:nth-child(2){
            margin-bottom: 7px;
        }
        a{
            line-height: 2.1rem;
        }
    }









    .ymaps-2-1-78-gotoymaps,
    .ymaps-2-1-78-controls__control_toolbar,
    .ymaps-2-1-78-controls__control,
    .ymaps-2-1-78-map-copyrights-promo,
    .ymaps-2-1-78-copyright__agreement {
        display: none;
    }
}