.reviews{
    position: relative;
    border-top: 1px solid #C7C7C7;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-tablet-landscape-up{
        flex-direction: row;
        justify-content: flex-start;
    }
    
    &::after{
        position: absolute;
        display: block;
        content:'';
        width: 120px;
        height: 22px;
        left: 0;
        top: 14px;
        background-image: url(./../images/services/5stars.png);
        background-repeat: no-repeat;
        
        
        @include for-tablet-landscape-up{
            position: static;
            display: inline-block;
            background-position: 0 43%;
        }
    }
    
    &::before{
        position: absolute;
        display: block;
        content:'';
        width: 41px;
        height: 41px;
        background-image: url(./../images/services/cup.svg);
        background-repeat: no-repeat;
    }
    &__text-reviews{
        margin-bottom: 7px;
        @media (min-width: 576px) {
            margin-bottom: 0;
            margin-right: 14px;
        }
    }
}