.services {
    padding: 39px 0 60px;

    @media (min-width: 768px) {
        padding-top: 52px;
    }

    @media (min-width: 1280px) {
        padding-top: 72px;
        padding-bottom: 73px;
    }

    @media (min-width: 1440px) {
        padding-bottom: 27px;
    }

    &__wrapper {
        display: grid;

        @media (min-width: 1280px) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;
        }
    }

    &__title {
        font-size: 2.8rem;
        line-height: 3.413rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            font-size: 4rem;
            font-weight: 500;
            line-height: 4.876rem;
            margin-bottom: 31px;
        }

        @media (min-width: 1280px) {
            text-align: left;
            margin-bottom: 0px;
        }
    }

    &__image {
        width: 100%;
        margin-bottom: 30px;

        @media (min-width: 768px) {
            margin-bottom: 42px;
        }

        @media (min-width: 1280px) {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }

        img {
            width: 100%;
        }
    }

    &__text {
        line-height: 2rem;
        margin-bottom: 34px;
        max-width: 506px;

        @media (min-width: 576px) {
            font-size: 1.8rem;
            line-height: 2.7rem;
            margin-bottom: 15px;
        }

        @media (min-width: 1280px) {
            margin-top: -7px;
        }
    }

    &__item {
        height: 48px;
        display: flex;
        padding-left: 46px;

        &:nth-child(1) {
            background: url(./../images/services/clock.svg) no-repeat;
        }

        &:nth-child(2) {
            background: url(./../images/services/camera.svg) no-repeat;
        }

        &:nth-child(3) {
            background: url(./../images/services/gps-ico.svg) no-repeat;
        }

        &:nth-child(4) {
            background: url(./../images/services/speech-ico.svg) no-repeat;
        }

        img {
            margin-right: 11px;
        }

        p {
            padding-top: 8px;
            line-height: 2rem;
        }
    }







    &__reviews {
        margin-top: 38px;
        padding: 14px 0 30px;
        border-bottom: 1px solid #C7C7C7;
        
        
        
        
        
        
        
        
        
        
        &::after {
            left: 41px;
            top: 40px;
        }

        
        @media (min-width: 576px) {
            margin-top: 18px;
            padding: 32px 0 32px 43px;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.8rem;
        }
        @media (min-width: 1280px) {
            margin-top: 3px;
            width: 50%;
        }
    }


}